*{
    box-sizing: border-box; 
    margin: 0px;
}

body{
    font-family: Calibri;
    margin: 0;
}

/*CABECERA*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 23px;
    background-color: red;
    color: white;
}
/*SECTION PAG1*/
button {
    background-color: red;
    color: white
}

section{
    display: flex;
    justify-content: center;
}

