
/*section pag2*/
section {
    display: flex;

}

section .container1 {
    width: 80%;
    padding: 45px;
    height: 20%;
    text-align: justify;
    border: 1px solid gray
}

button {
    background-color: red;
    color: white
}

section{
    display: flex;
    justify-content: center;
}


*{
    box-sizing: border-box; 
    margin: 0px;
}

body{
    font-family: arial;
    margin: 0;
}

/*CABECERA*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 23px;
}

